{% if not cookie_accepted %}
<div id="cookie-notification">
    <div class="row position-fixed cookie">
        <div class="col-12">
            <h3 class="fw-bold">Sīkdatnes</h3>
        </div>
        <div class="col-12">
            <p class="text-center">Šī vietne ir aizsargāta ar reCAPTCHA, un uz to attiecas Google
                <a href="https://policies.google.com/privacy" target="_blank" class="link-primary" rel="noreferrer">
                    Konfidencialitātes politika</a> un
                <a href="https://policies.google.com/terms" target="_blank" class="link-primary" rel="noreferrer">
                    Pakalpojumu sniegšanas noteikumi</a>. Turpinot izmantot lapu, Jūs piekrītat šiem noteikumiem.
            </p>
        </div>
        <div class="col-12">
            <button id="accept-cookies" class="btn btn-dark d-block mx-auto">Piekrist un aizvērt</button>
        </div>
    </div>
</div>
{% endif %}

<script>
    document.getElementById('accept-cookies')?.addEventListener('click', () => {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch('/accept-cookies', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            }
        })
            .then(response => {
                if (response.ok) {
                    document.getElementById('cookie-notification').style.visibility = 'hidden';
                    document.getElementById('cookie-notification').style.opacity = '0';
                    document.getElementById('cookie-notification').style.transition = '0.5s';
                }
            });
    });
</script>