<div class="modal fade" id="Modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center fs-4 fw-bold">Elektroietaišu projektēšana un autoruzraudzība</h2>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Transformatoru apakšstacijas un sadales punkti no <span class="fw-bold">1 kV</span> Iīdz <span
                            class="fw-bold">35 kV</span>.</li>
                    <li>Gaisvadu līnijas un kabeļlīnijas līdz <span class="fw-bold">1 kV</span>, no <span
                            class="fw-bold">1 kV</span> līdz <span class="fw-bold">35 kV</span>.
                    </li>
                    <li>Elektrotehniskās kontroles, vadības un automatizācijas sistēmas līdz <span class="fw-bold">1
                            kV</span>.</li>
                    <li>Elektrostaciju elektriskā daļa t.sk. elektrodzinēji un ģeneratori (mikro ģeneratori) līdz
                        <span class="fw-bold">1 kV</span>.
                    </li>
                    <li>Ēku elektroinstalācija līdz <span class="fw-bold">1 kV</span>.</li>
                    <li>Automātiskās ugunsaizsardzības, ugunsdzēsības sistēmu automātikas un vadības daļas (<span
                            class="fst-italic">AUS</span>,
                        <span class="fst-italic">AUSS</span>) līdz <span class="fw-bold">1 kV</span>.
                    </li>
                    <li>Zibensaizsardzība un pārspriegumaizsardzība līdz <span class="fw-bold">1 kV</span>.</li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_1.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_1.jpg') }}"
                                class="mb-2 d-block mx-auto border border-dark rounded"
                                alt="Elektroietaišu projektēšanas un autoruzraudzības piemērs #1">
                        </picture>
                    </div>
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_2.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_2.jpg') }}"
                                class="mb-2 d-block mx-auto border border-dark rounded"
                                alt="Elektroietaišu projektēšanas un autoruzraudzības piemērs #2">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h2 class="modal-title text-center fs-4 fw-bold">Elektroietaišu izbūve</h2>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Gaisvadu līnijas un kabeļlīnijas līdz <span class="fw-bold">1 kV</span>.</li>
                    <li>Elektrotehniskās kontroles, vadības un automatizācijas sistēmas līdz <span class="fw-bold">1
                            kV</span>.</li>
                    <li>Elektrostaciju elektriskā daļa t.sk. elektrodzinēji un ģeneratori (mikro ģeneratori) līdz
                        <span class="fw-bold">1 kV</span>.
                    </li>
                    <li>Ēku elektroinstalācija līdz <span class="fw-bold">1 kV</span>.</li>
                    <li>Automātiskās ugunsaizsardzības, ugunsdzēsības sistēmu automātikas un vadības daļas (<span
                            class="fst-italic">AUS</span>,
                        <span class="fst-italic">AUSS</span>) līdz <span class="fw-bold">1 kV</span>.
                    </li>
                    <li>Zibensaizsardzība un pārspriegumaizsardzība.</li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_3.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_3.jpg') }}"
                                class="mb-2 d-block mx-auto rounded" style="object-fit: cover"
                                alt="Elektroietaišu izbūves piemērs #1">
                        </picture>
                    </div>
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_4.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_4.jpg') }}"
                                class="mb-2 d-block mx-auto rounded" alt="Elektroietaišu izbūves piemērs #2">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center fs-4 fw-bold">Elektroietaišu izbūves darbu vadīšana un būvuzraudzība
                </h2>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Transformatoru apakšstacijas un sadales punkti no <span class="fw-bold">1 kV</span> līdz <span
                            class="fw-bold">35
                            kV</span>.</li>
                    <li>Gaisvadu līnijas līdz <span class="fw-bold">1 kV</span>, no <span class="fw-bold">1 kV</span>
                        līdz <span class="fw-bold">35
                            kV</span>.</li>
                    <li>Kabeļlīnijas līdz <span class="fw-bold">1 kV</span>, no <span class="fw-bold">1 kV</span> līdz
                        <span class="fw-bold">35 kV</span>.
                    </li>
                    <li>Ēku elektroinstalācija līdz <span class="fw-bold">1 kV</span>.</li>
                    <li>Zibensaizsardzība un pārspriegumaizsardzība līdz <span class="fw-bold">1 kV</span>.</li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_5.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_5.jpg') }}"
                                class="mb-2 d-block mx-auto rounded"
                                alt="Elektroietaišu izbūves darbu vadīšanas un būvuzraudzības piemērs #1">
                        </picture>
                    </div>
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_6.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_6.jpg') }}"
                                class="mb-2 d-block mx-auto rounded"
                                alt="Elektroietaišu izbūves darbu vadīšanas un būvuzraudzības piemērs #2">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center fs-4 fw-bold">Elektroietaišu tehnisko parametru mērīšana un pārbaude
                </h2>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Elektroinstalāciju kontaktsavienojumu pārbaude, termogrāfija (saskaņā ar MK noteikumiem nr. 238
                        "Ugunsdrošības noteikumi").
                    </li>
                    <li>Elektroinstalāciju izolācijas pretestības mērījumi.</li>
                    <li>Cilpas "fāze–nulle" pilnās pretestības mērījumi.</li>
                    <li>Zemējumietaišu pretestības, zemējumvada nepārtrauktības saites un zibensaizsardzības sistēmu
                        pārbaudes mērījumi.</li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_7.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_7.jpg') }}"
                                class="mb-2 d-block mx-auto border border-dark rounded"
                                alt="Elektroietaišu tehnisko parametru mērīšanas un pārbaudes piemērs #1">
                        </picture>
                    </div>
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_8.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_8.jpg') }}"
                                class="mb-2 d-block mx-auto border border-dark rounded"
                                alt="Elektroietaišu tehnisko parametru mērīšanas un pārbaudes piemērs #2">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h2 class="modal-title text-center fs-4 fw-bold">Saules enerģētika</h2>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Uzklausīsim Jūsu vēlmes un apsekosim objektu dabā.</li>
                    <li>Konsultēsim par mikroģenerācijas novietojumu un jaudas izvēli.</li>
                    <li>Izstrādāsim projektu un veiksim tā realizāciju dzīvē.</li>
                    <li>Konsultēsim ekspluatācijas laikā un palīdzēsim kopšanas darbos.</li>
                    <li>Strādājam Latgalē.</li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_9.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_9.jpg') }}"
                                class="mb-2 d-block mx-auto rounded" style="object-fit: cover"
                                alt="Saules enerģētikas piemērs #1">
                        </picture>
                    </div>
                    <div class="col-6 px-0">
                        <picture>
                            <source srcset="{{ url_for('static', filename='img/samples/sample_10.webp') }}"
                                type="image/webp">
                            <img src="{{ url_for('static', filename='img/samples/sample_10.jpg') }}"
                                class="mb-2 d-block mx-auto rounded" alt="Saules enerģētikas piemērs #2">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger d-block ms-auto"
                        data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal6" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h2 class="modal-title text-center fs-4 fw-bold">Mikroģeneratora pieslēgšana</h2>
            </div>
            <div class="modal-body">
                <ol>
                    <li>
                        <h3 class="fs-6 fw-bold">Pieteikums</h3>
                    </li>
                    <ul>
                        <li>
                            Laikus iepazīstieties ar mikroģeneratoru pieslēgšanu soli pa solim un saņemiet noderīgus
                            padomus "Sadales tīkla"
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://sadalestikls.lv/lv/mikrogeneratora-pieslegsana">mājaslapā</a>.
                            Izpētiet arī vietējās būvvaldes nosacījumus saules paneļu uzstādīšanai tās pārraudzībā
                            esošajā teritorijā.
                        </li>
                        <li>
                            <span class="fw-bold"><span class="text-danger">!</span> Atcerieties, pirms iekārtas
                                pieslēgšanas obligāti jāsaņem "Sadales tīkla" atļauja.</span>
                        </li>
                        <li>
                            Bez atļaujas pieslēgts mikroģenerators var radīt būtiskus bojājumu riskus Jūsu un
                            kaimiņu elektroietaisēm un dzīvībai bīstamas situācijas ikvienam, kas veic darbus
                            elektrotīklā.
                        </li>
                        <li>
                            Piesakiet mikroģeneratora pieslēgšanu klientu portālā
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://www.e-st.lv/lv/private/pieteikt-pakalpojumu/st-pieslegumi/mikrogeneratora-pieslegsana-1/jauna-mikrogeneratora-pieslegsana/step/1">
                                e-st.lv</a>.
                        </li>
                        <li>
                            Ja būsiet izvēlējušies invertoru, kas ir iekļauts "Sadales tīkla" <a target="_blank"
                                rel="noreferrer" class="link-primary"
                                href="https://sadalestikls.lv/lv/invertoru-saraksts">atzīto invertoru
                                sarakstā</a>,
                            ne vēlāk kā trīs darba dienu laikā sniegsim atbildi par iespēju pieslēgt jauno ražošanas
                            iekārtu esošajam elektrotīklam vai nepieciešamību veikt elektrotīkla pārbūvi.
                        </li>
                    </ul>
                    <li>
                        <h3 class="fs-6 fw-bold">Tehniskās prasības un pārbūves darbi</h3>
                    </li>
                    <ul>
                        <li>
                            Ja mikroģeneratora pieslēgšanai elektrotīkla pārbūve nav nepieciešama vai arī būvdarbi jau
                            paveikti, iepazīstieties ar <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://sadalestikls.lv/lv/visparejas-tehniskas-prasibas-mikrogeneratora-pieslegsanai">
                                mikroģeneratora pieslēgšanas vispārējām tehniskajām prasībām</a>.
                        </li>
                        <li>
                            Atsevišķos gadījumos mikroģeneratora pieslēgšanai būs nepieciešama elektrotīkla pārbūve un
                            būvprojekta izstrāde. Tad trīs dienu laikā bezmaksas sagatavosim tehniskās prasības un
                            aptuvenu elektrotīkla pārbūves izmaksu aprēķinu.
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://sadalestikls.lv/lv/pastavigs-pieslegums">
                                Vairāk par jauna pieslēguma izbūvi, esoša pieslēguma pārbūvi vai slodzes izmaiņām</a>.
                        </li>
                    </ul>
                    <li>
                        <h3 class="fs-6 fw-bold">Maksājumi</h3>
                    </li>
                    <ul>
                        <li>
                            Apmaksājiet klientu portālā
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://www.e-st.lv/lv/private/mani-pieteikumi-un-ligumi/iesniegtie-pieteikumi/">e-st.lv</a>
                            mikroģeneratora pieslēgšanas pieteikumam pievienoto rēķinu.
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://sadalestikls.lv/lv/cenradis">Pakalpojumu cenrādis</a>.
                        </li>
                        <li>
                            Elektrotīkla pārbūves gadījumos vispirms saņemsiet pieslēguma līgumu un rēķinu par pārbūves
                            darbiem, bet mikroģeneratora pieslēgšanas rēķinu tikai pēc pārbūves darbu pabeigšanas.
                        </li>
                    </ul>
                    <li>
                        <h3 class="fs-6 fw-bold">Ierīkošana</h3>
                    </li>
                    <ul>
                        <li>
                            Izvēlieties <a class="link-primary" id="help" data-bs-dismiss="modal"
                                href="#certificates">sertificētu būvspeciālistu</a>,
                            uzticiet viņam mikroģeneratora uzstādīšanas tehniskos darbus un lūdziet sagatavot
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://sadalestikls.lv/storage/app/media/uploaded-files/Iestat%C4%ABjumu.protokols.docx">invertora
                                iestatījumu protokolu</a>.
                        </li>
                        <li>
                            Kad mikroģenerators būs gatavs paralēlam darbam ar "Sadales tīkla" elektrotīklu, aplieciniet
                            to klientu portālā
                            <a target="_blank" rel="noreferrer" class="link-primary"
                                href="https://www.e-st.lv/lv/private/mani-pieteikumi-un-ligumi/iesniegtie-pieteikumi/">e-st.lv</a>.
                            Pielikumā pievienojiet būvspeciālista sertifikāta kopiju un aizpildītu invertora iestatījumu
                            protokolu. Ievērojiet vispārējās tehniskajās prasībās noteikto termiņu!
                        </li>
                    </ul>
                    <li>
                        <h3 class="fs-6 fw-bold">Pieslēgšanas atļauja</h3>
                    </li>
                    <ul>
                        <li>
                            Ne vēlāk kā piecu darba dienu laikā pārbaudīsim iesniegtos dokumentus un sagatavosim atļauju
                            ieslēgt mikroģeneratoru paralēlam darbam ar "Sadales tīkls" elektrotīklu.
                        </li>
                        <li>
                            Pēc atļaujas saņemšanas ieslēdziet mikroģeneratoru, ražojiet elektrību un izmantojiet neto
                            norēķinu sistēmas priekšrocības.
                        </li>
                    </ul>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="Modal7" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Privātuma politika</h5>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        <h6 class="fw-bold">reCAPTCHA</h6>
                    </li>
                    Lai aizsargātu mūsu tīmekļa vietni un pakalpojumus no mēstulēm un automatizētas
                    ļaunprātīgas izmantošanas, mēs izmantojam reCAPTCHA pakalpojumu. Šis pakalpojums analizē lietotāju
                    uzvedību un ierīces datus (piemēram, IP adreses un mijiedarbības modeļus), lai atšķirtu reālus
                    lietotājus no automatizētiem botiem. Šos datus apstrādā Google. Dati tiek izmantoti tikai drošības
                    un krāpniecības novēršanas nolūkos.
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
            </div>
        </div>
    </div>
</div>